@model StackExchange.DataExplorer.ViewModel.QueryViewerData
@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Models
@{
    Layout = "~/Views/Shared/Query.cshtml";
    this.SetPageTitle("Query History - Pacific Coast Bankers' Bank");
    var querySet = Model.Revision.QuerySet;
    var initialRevision = querySet.InitialRevision;
    var currentRevision = Model.Revision;
}

@section Metadata
{
    
}

@helper UserSignature(User user, DateTime date, bool isEdit, bool isOwner)
    {

<div class="user-info@(isOwner && !isEdit ? " owner" : "")">
    <div class="user-action-time">@(isEdit ? "Edited" : "Created") @date.ToRelativeTimeSpanMicro()</div>
    @if ((isOwner && !isEdit) || !isOwner)
    { 
        <div class="user-gravatar32">
            @if (user.IsAnonymous)
            {
                <span>Anonymous</span>
            }
            else
            {
                <span>@user.Login</span>
            }
        </div>
    }
</div>
}

<table class="fw">
    <tbody><tr>
    <td class="vt">
        <div class="toolbar">
            @if (querySet.CurrentRevisionId != Model.Revision.Id)
            {
                  <a href="/@Current.Controller.Site.TinyName.ToLower()/query/@querySet.Id@querySet.Slugify()">view current version</a>
            }
            else
            {
                if (querySet.OwnerId == Current.User.Id)
                { 
                <a href="/@Current.Controller.Site.TinyName.ToLower()/query/edit/@querySet.Id">edit query</a>
                }
                else
                { 
                <a class="aca-primary-button" style="padding: 7px; color: #FFFFFF" href="/@Current.Controller.Site.TinyName.ToLower()/query/fork/@querySet.Id">Clone Query</a>
                }
            }
        </div>
       
    </td>
    <td class="post-signature">  
        @if (querySet.InitialRevisionId != querySet.CurrentRevisionId)
        { 
            @UserSignature(currentRevision.Owner, currentRevision.CreationDate, isEdit: true, isOwner: (initialRevision.OwnerId == currentRevision.OwnerId));
        }
    </td>
    <td class="post-signature">
         @UserSignature(initialRevision.Owner, initialRevision.CreationDate, isEdit: false, isOwner: true)
    </td>
    </tr>
    </tbody>
</table>
<pre id="queryBodyText" class="cm-s-default"><code>@Model.Revision.Query.QueryBody</code></pre>

<script type="text/javascript">
    DataExplorer.ready(function () {
        var formatOptions = {
            'slug': '@querySet.Slugify()',
            'params': window.location.search,
            'id': @querySet.Id
        };

        DataExplorer.template('#site-selector a.templated', 'href', formatOptions);
        DataExplorer.SiteSwitcher.update(formatOptions);

        $('#site-selector').show();
    });

    $("ul.tab > li").find(".selected").removeClass("selected");
    $("ul.tab > li:last-child").addClass("selected");
</script>