@model QuerySetViewModel
@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Helpers
@using StackExchange.DataExplorer.Models
@using StackExchange.DataExplorer.ViewModel
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/Query.cshtml";
    this.SetPageTitle("Query - Pacific Coast Bankers' Bank");

    var revision = Model != null ?  Model.CurrentRevision : null;
    
    string sql = null, name = null, description = null;
    
    if (revision != null)
    {
        sql = revision.Query.QueryBody;
        name = revision.QuerySet.Title;
        description = revision.QuerySet.Description;
    }

    sql = Html.Encode(sql);
}
@section Metadata
{
    <input class="aca-standard-input" type="text" id="title" name="title" value="@name" size="40" placeholder="Enter a title for your query" maxlength="100" />
    <p id="query-description-text">@(Model != null && Model.QuerySet != null ? Model.QuerySet.Description : "")</p>
    <a id="edit-query-description" class="aca-primary-button" style="color: #FFFFFF; padding: 7px" href="#">Add Description</a>
    <textarea class="aca-standard-input" style="display:none" name="description" id="query-description" placeholder='enter a description'>@(Model != null && Model.QuerySet != null ? Model.QuerySet.Description : "")</textarea>
    
    <script type="text/javascript">
        $(function () {
            $("#edit-query-description").click(function () {
                $("#edit-query-description").hide();
                $("#query-description-text").hide();
                $("#query-description").show();
                return false;
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("'[placeholder]'").focus(function () {
                var input = $(this);
                if (input.val() == input.attr("'placeholder'")) {
                    input.val("''");
                    input.removeClass("'placeholder'");
                }
            }).blur(function () {
                var input = $(this);
                if (input.val() == "''" || input.val() == input.attr("'placeholder'")) {
                    input.addClass("'placeholder'");
                    input.val(input.attr("'placeholder'"));
                }
            }).blur();
        });
    </script>
}
<div id="query-options" style="margin-top:0px">
            <span class="options">
                Options:
                <label title="Return results in text format"><input type="checkbox" name="textResults" value="true" />Text-only results</label>
            @if (AppSettings.AllowRunOnAllDbsOption)
            {
                <label title="Targe sites">Run on: 
                <select name="targetSites">
                    <option selected value="Current">This Site</option>
                    <option value="AllSites">All Sites</option>
                    <option value="AllMetaSites">All Meta Sites</option>
                    <option value="AllNonMetaSites">All Non-Meta Sites</option>
                    <option value="AllMetaSitesButMSE">All Meta Sites but MSE</option>
                    <option value="AllNonMetaSitesButSO">All Non-Meta Sites but SO</option>
                </select>
                </label>
            }
            </span>
            <button id="submit-query" class="aca-primary-button" style="font-size: 16px" type="submit">Run Query</button>
        </div>
<ul id="editor-toolbar" class="linkbar compact" style="position: relative; top: -10px">
    <li id="schema-toggle">hide sidebar</li>
</ul>
<div id="editor" style="position: relative; top: -10px">
    <div id="editor-panel" class="right-group compact">
        <textarea id="sql" name="sql" rows="26">@Html.Raw(sql)</textarea>
    </div>
    <div id="schema" class="left-group">
        <span class="heading">Database Schema
            <span class="buttons">
                <span class="button-group">
                    <i class="icon-sort-by-alphabet button sort" title="sort alphabetically"></i>
                </span>
                <span class="button-group">
                    <i class="icon-plus button expand" title="expand all tables"></i>
                    <i class="icon-minus button collapse" title="collapse all tables"></i>
                </span>
            </span>
        </span>
        <ul>
        @{ var n = 0; }
        @foreach (TableInfo table in (IEnumerable<TableInfo>)ViewData["Tables"])
        {
            <li data-order="@(n++)">
                <span class="schema-table">@table.Name</span>
                <dl style="display:none">
                @for (int i = 0; i < table.ColumnNames.Count; i++)
                {
                    <dt data-order="@i">@table.ColumnNames[i]</dt>
                    <dd class="cm-variable-2">@table.DataTypes[i]</dd>
                }
                </dl>
            </li>
        }
        </ul>
    </div>
    @Html.Partial("RevisionHistory", Model)
</div>
@Scripts.Render("~/assets/js/editor")
<script type="text/javascript">
    DataExplorer.TableHelpers.init(@Html.Raw(ViewData["HelperTables"] as string));

    $("ul.tab > li").find(".selected").removeClass("selected");
    $("ul.tab > li:first-child").addClass("selected");
</script>